/*  ****************************************
  Persistent Navigation
  **************************************** */
.main-menu {
  position: fixed; /* required - magic */
  top: 0; /* required - makes sure the menu sits where it's supposed to sit */
  left: 0;
  z-index: 1000; /* required - makes sure the menu doesn't get covered by anything else */
  width: 100%; /* required - makes the menu go all the way across the viewport */
  background-color: #ffad33; 
  height: 50px;
}
.main-menu ul {
  /* standard removal of UL styles */
  margin: 0;
  padding-left: 0;
  list-style-type: none;

  /* required - get LIs to line-up side-by-side */
  display: flex;
  justify-content: center; /* optional - lookup lots of options */
  height: 100%;
}
.main-menu a { 
  /* typical - make links look/act like buttons */
  display: block;
  padding: 15px;
  color: #666;
  text-decoration: none;
}
.main-menu a:hover { color: #ddd; }

.main-menu a {
  color: #001a00;
}

.active {
  background-color: #eedde4;

}